# Virtual environments
venv/
env/
.ragfaiss/

# FAISS + vector store folders
store/

# Cache files
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

# Optional: model cache
huggingface_cache/
cache/
